<h1>犬猫一覧</h1>
<%= link_to "募集する", new_animal_path %>
<%= render partial: 'searches/form' %>
　<% @animals.each do |animal| %>
    <p>
      <%= link_to animal_path(animal) do %>
        <%= attachment_image_tag animal, :image, :fill, 10, 10, format: 'jpeg', class: "img" %>
      <% end %>
    </p>
    <p>
      <%= animal.title %>
    </p>
    <p>
      <%= animal.prefecture %>
    </p>
　<% end %>
　<div class="center-block">
      <%= paginate @animals %>
  </div>
