<div class="container">
  <div class="row">
    <h2 class="col-lg-4">WaNyan</h2>
    <%= link_to "募集する", new_animal_path, class: "col-lg-2 offset-lg-6 btn btn-primary" %>
  </div>
  <div class="row">
    <%= render partial: 'searches/form' %>
  </div>
  <div class="row">
    <div class="width">
　    <% @animals.each do |animal| %>
　      <div class="height">
          <p class="img_wrap">
            <%= link_to animal_path(animal) do %>
              <%= attachment_image_tag animal, :image, :fill, 250, 250, format: 'jpeg', class: "img" %>
            <% end %>
          </p>
          <p>
            <%= animal.title %>
          </p>
          <p>
            <%= animal.prefecture %>
          </p>
        </div>
　    <% end %>
　    <div class="center-block row">
        <%= paginate @animals %>
      </div>
    </div>
  </div>
</div>
