<div class="container">
  <div class="row">
    <div class="col-lg-6 text">
      <h5>1. 私と気長につきあってください。</h5>
      <h5>Give me time to understand what you want of me.</h5><br>
      <h5>2. 私を信じてください。それだけで私は幸せです。</h5>
      <h5>Place your trust in me. It's crucial to my well-being.</h5>
    </div>
    <div class="col-lg-6">
　　　<div class="img_wrap">
        <%= image_tag 'DSC_0031.jpg',:size =>'550x400' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="img_wrap">
        <%= image_tag 'DSC_0032.jpg',:size =>'550x400' %>
      </div>
    </div>
    <div class="col-lg-6 text">
      <h5>3. 私にも心があることを忘れないでください。</h5>
      <h5>Be aware that however you treat me I'll never forget it.</h5><br>
      <h5>4. 言うことをきかないときは理由があります。</h5>
      <h5>Before you scold me for being lazy, ask yourself if something might be bothering me.</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 text">
      <h5>5. 私にたくさん話しかけてください。人のことばは話せないけど、わかっています。</h5>
      <h5>Talk to me sometimes. Even if I don't understand your words, I do understand your voice when it's speaking to me.</h5><br>
      <h5>6. 私をたたかないで。本気になったら私のほうが強いことを忘れないで。</h5>
      <h5>Remember before you hit me, I have teeth that could hurt you, but that I choose not to bite you.</h5>
    </div>
    <div class="col-lg-6">
      <div class="img_wrap">
        <%= image_tag 'DSC_0041.jpg',:size =>'550x400' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="img_wrap">
        <%= image_tag 'DSC_0035.jpg',:size =>'550x400' %>
      </div>
    </div>
    <div class="col-lg-6 text">
      <h5>7. 私が年を取っても、仲良くしてください。</h5>
      <h5>Take care of me when I get old.</h5><br>
      <h5>8. 私は十年くらいしか生きられません。だからできるだけ私と一緒にいてください。</h5>
      <h5>My life is likely to last 10 to 15 years. Any separation from you will be painful for me.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text">
      <h5>9. あなたには学校もあるし友だちもいます。でも私にはあなたしかいません。</h5>
      <h5>You have your work, your entertainment, and your friends. I have only you.</h5><br>
      <h5>10. 私が死ぬとき、お願いです、そばにいてください。どうか覚えていてください、私がずっとあなたを愛していたことを。</h5>
      <h5>Go with me on difficult journeys. Everything is easier for me if you are there. Remember I love you . . .</h5>
      <h6>参照：「犬と私の10の約束」より「犬の十戒」</h6>
    </div>
    <div class="col-lg-6">
      <div class="img_wrap">
        <%= image_tag 'DSC_0040.jpg',:size =>'550x400' %>
      </div>
    </div>
  </div>
</div>