<div class="search-form">
  <%= form_with(scope: :search, url: search_path, method: :get, local: true) do |f| %>
    <div class="field">
      <%= f.label :profile, "キーワード" %>
      <%= f.text_field :profile, placeholder: '半角のみ', value: @search_params[:profile] %>
    </div>
    <div class="field">
      <%= f.label :prefecture, "募集地域" %>
      <%= f.text_field :prefecture, placeholder: '半角のみ', value: @search_params[:prefecture] %>
    </div>
    <div class="field">
      <%= f.label :tipe, "種類" %>
      <%= f.radio_button :tipe, '', {:checked => true} %>指定なし
      <%= f.radio_button :tipe, 0 %>犬
      <%= f.radio_button :tipe, 1 %>猫
    </div>
    <div class="field">
      <%= f.label :sex, "性別" %>
      <%= f.radio_button :sex, '', {:checked => true} %>指定なし
      <%= f.radio_button :sex, 1 %>オス
      <%= f.radio_button :sex, 2 %>メス
      <%= f.radio_button :sex, 0 %>オス・メス
    </div>
    <div class="field">
      <%= f.label :vaccine, "ワクチン" %>
      <%= f.radio_button :vaccine, '', {:checked => true} %>指定なし
      <%= f.radio_button :vaccine, 1 %>済
      <%= f.radio_button :vaccine, 2 %>未
      <%= f.radio_button :vaccine, 0 %>不明
    </div>
    <div class="field">
      <%= f.label :castrate, "去勢手術" %>
      <%= f.radio_button :castrate, '', {:checked => true} %>指定なし
      <%= f.radio_button :castrate, 1 %>済
      <%= f.radio_button :castrate, 2 %>未
      <%= f.radio_button :castrate, 0 %>不明
    </div>
    <%= submit_tag '検索', class: "button" %>
  <% end %>
